:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #bababa;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
/* Encabezado */
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 40px;
    align-self: center;
}
.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 33px;
    text-align: center;
    align-self: center;
}
.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header--title-container p{
    margin-top:  24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 114.5px);
    bottom: -17px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}
.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

/* Seccion de Intercambio */
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.exchange{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.exchange .exchange__background{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.exchange .exchange__text{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.exchange__text h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black)
}
.exchange__text p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #757575;
    line-height: 1.8rem;
    text-align: center;
}
/* Tabla */
.exchange__table--currency,
.exchange__table--commissions{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 300px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.exchange__table--commissions{
    display: none;
}
.exchange .table__title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    text-align: left;
    margin-left: 12px;
}
.exchange__table--currency .table__title{
    color: var(--bitcoin-orange);
}
.exchange__table--commissions .table__title{
    color: var(--secondary-blue);
}
.exchange .table__container{
    position: relative;
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
}
.exchange table{
    width: 100%;
}
.exchange td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
    height: 40px;
}

.exchange .table--top-left{
    border-radius: 8px 0 0 0;
}
.exchange .table--top-right{
    border-radius: 0 8px 0 0;
}
.exchange .table--bottom-left{
    border-radius: 0 0 0 8px;
}
.exchange .table--bottom-right{
    border-radius: 0 0 8px 0;
}
.exchange .table--right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.exchange table span{
    display: inline-block;
    width: 11px;
    height: 6px;
    margin-left: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.exchange table .down{
    background-image: url('./assets/icons/trending-down.svg');
}
.exchange table .up{
    background-image: url('./assets/icons/trending-up.svg');
}
.exchange .table__information{
    width: 173px;
    height: 31px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    border-radius: 8px;
}
.exchange .table__information p{
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}
.exchange__table--currency .table__information{
    background-color: var(--soft-orange);
}
.exchange__table--currency .table__arrow-right,
.exchange__table--commissions .table__arrow-left{
    display: inline-block;
    width: 8px;
    height: 12px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 31%;
    cursor: pointer;
}
.exchange__table--currency .table__arrow-right{
    background-image: url("./assets/icons/arrow-right.svg");
    right: -25px;
}
.exchange__table--commissions .table__arrow-left{
    background-image: url("./assets/icons/arrow-left.svg");
    left: -25px;
}
.exchange__table--commissions .table__information{
    background-color: var(--soft-blue);
}
/* Seccion de beneficios */
.benefit{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.benefit__icon{
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url("./assets/icons/batata.svg");
    top: -10px;
    left: calc(50% - 20px)
}
.benefit__text{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 50px auto;
    text-align: center;
}
.benefit__text h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--just-white);
}
.benefit__text p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product__card{
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    margin: 15px auto;
    height: 150px;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.product__card span{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product__icon--clock{
    background-image: url("./assets/icons/clock.svg");
}
.product__icon--eye{
    background-image: url("./assets/icons/eye.svg");
}
.product__icon--dolar{
    background-image: url("./assets/icons/dollar-sign.svg");
}
.product__icon--check{
    background-image: url("./assets/icons/check-circle.svg");
}
.product__title{
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product__body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

/* Seccion comodin (imagen) */
.bitcoin__image{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("./assets/img/bitcoinbaby2x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.bitcoin__image h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
/* Seccion planes */
.plans{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans__text{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.plans__text h2{
    padding-top: 50px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--black);
}
.plans__text p{
    padding-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.plans__container{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans__target{
    position: relative;
    scroll-snap-align: center;
    width: 69%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 8px 0;
    padding: 0px 15px;
    background-color: var(--just-white);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.plans__recommend{
    position: absolute;
    width: 120px;
    height: 31px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    top: -15px;
    left: calc(50% - 60px);
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 8px;
}
.plans__content h3{ 
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.plans__price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5rem;
    color: black;
}
.plans__price span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: text-top;
}
.plans__saving{
    color: #757575;
    font-size: 1.2rem;
}
.plans__action{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--warm-black);
    font-family: 'DM Sans', sans-serif;
}
.plans__action span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/orange-right-arrow.svg");
    vertical-align: text-bottom;
}
